@page
@model ImprovingSkillProjectSet.Pages.CssPractice.IndexModel
@{
    ViewBag.Title = "Working with CSS";
}

<h1>This is a big heading!</h1>

<p>
    This is some practice with CSS
</p>

<div>
    This text is inside a Dev.
</div>

<p>
    Improving my CSS skills set!
</p>

<p>
    My name is Dad S Wonkulah JR i am a Web Developer!
</p>

<span>
    THis is just a simple span!
</span>
<br />
<i>
    Thhis is just a inline element
</i>