@page
@model ImprovingSkillProjectSet.Pages.IndexModel
@{
    ViewBag.Title = "Welcome Home";
}
<style>
    body {
        /*margin: 0;*/
        /*padding: 0;*/
        /* background-image: url('../images/employees.png');
        background-repeat: no-repeat;
        background-position:top right;
        background-attachment:fixed;*/
        /*background-position: right top;*/
        /*background-attachment: fixed;*/
        /*   margin-right:20%;*/
    }
</style>

<img src="~/images/car.jpg"  width="350" height="263" alt="This is a car" />

<div class="ex1">
    <a href="iamtuse-001-site1.itempurl.com">Visit my Webpage!</a>
</div>
@*<div class="ex1">
   My name is Dad S Wonkulah, i am Software / Web Developer, i am very passionate
    about this field and hope one day i come out successful!
    <br />This is a just a simple website created to test my CSS skills set.
</div>*@
@*<div id="firstDiv">
        <p id="myName">
            Hi, my name is Dad S Wonkulah Jr!
        </p>

        <p id="info">
            I am a Professional Web Developer / Software Developer!
        </p>

    </div>
    <div id="topDiv">
        <div id="logo">
            <a>
                iamtuseTheProgrammer<img src="~/images/employees.png" />

            </a>
        </div>
        <div id="links">
            <ul id="ulLinks">
                <li>
                    <a>Home</a>
                </li>

                <li>
                    <a>Contact</a>
                </li>

                <li>
                    <a>Services</a>
                </li>

            </ul>

        </div>
        <div id="logInSection">
            <ul id="ulLoginLinks">
                <li>
                    <a>Sign-In</a>
                </li>

                <li>
                    <a>Sign-Out</a>
                </li>

            </ul>
        </div>
    </div>*@




@*<h1>Hello World!</h1>
    <p>W3Schools background no-repeat, set position example.</p>
    <p>Now the background image is only shown once, and positioned away from the text.</p>
    <p>In this example we have also added a margin on the right side, so the background image will never disturb the text.</p>


    <h1>Hello World!</h1>
    <p>W3Schools background no-repeat, set position example.</p>
    <p>Now the background image is only shown once, and positioned away from the text.</p>
    <p>In this example we have also added a margin on the right side, so the background image will never disturb the text.</p>



    <h1>Hello World!</h1>
    <p>W3Schools background no-repeat, set position example.</p>
    <p>Now the background image is only shown once, and positioned away from the text.</p>
    <p>In this example we have also added a margin on the right side, so the background image will never disturb the text.</p>*@



<script>
    //for (var i = 1; i <= 5; i++) {
    //    alert("My name is Dad S Wonkulah Jr\nNumber of times: " + i.toString());
    //}




</script>
